---


---

<header class="text-3xl mb-10 mt-6">
    <section class="flex items-center mb-2">
        <div>
            <div class="font-myriad text-5xl sm:text-7xl md:text-9xl"><strong>EX</strong>PLORANDO</div>
            <div class="font-signature flex items-center justify-center h-16 text-8xl sm:text-9xl md:text-[14rem]">vivencias</div>
            <div class="font-lemonmilk text-center mt-14 text-[0.75rem] sm:mt-16 md:mt-20 sm:text-xs md:text-xs">BY LORE JORDÁN</div>
        </div>
    </section>
    <section class="text-center">
    </section>
</header>