---
const currentPath = Astro.url.pathname;
---
<nav 
    class="relative mb-4 mt-2"
    style="view-transition-name: navbar"
>  
    <ul class="flex flex-row justify-center items-center gap-24 font-bold text-xl">
        <li>
            <a href="/"
                class={`${currentPath === "/" ? "text-violet-900" : "text-black"} hover:text-violet-900`}
            >
            Inicio
            </a>
        </li>
        <li>
            <a href="/blog"
                class={`${currentPath === "/blog" ? "text-violet-900" : "text-black"} hover:text-violet-900`}
            >
                Blog
            </a>
        </li>
        <li>
            <a href="/reviews"
                class={`${currentPath === "/reviews" ? "text-violet-900" : "text-black"} hover:text-violet-900`}
            >
                Reseñas
            </a>
        </li>
    </ul>
</nav>
