---

---

<!-- BG thanks to https://bg.ibelick.com/ -->
<div class="fixed inset-0 -z-10 h-full w-full bg-[#F1EEE1] bg-[linear-gradient(to_right,#c8c4b8_1px,transparent_1px),linear-gradient(to_bottom,#c8c4b8_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>