---

---

<section class="flex flex-col justify-center items-center p-2">
    <img src="/img/lore_main.webp" alt="Lorena Jordán" class="rounded-md" width={300} />
    
    <div class="font-myriad font-bold text-center p-4 prose flex flex-col items-center gap-4">

        <p>
            Podria llamarme: escritora del alma o guia emocional,
            pero sencillamente creo en el poder de la palabra como
            canal de sanación. Desde mi sensibilidad profunda y de
            mis vivencias personales comparto procesos de reconexión
            y transformación interior.
        </p>
        
        <p>
            Escribo para liberar, para recordar, para tocar lo que a veces
            no se puede decir en voz alta.
        </p>
        
        <p>
            Me mueve ayudar a otros a verse, sentirse y escucharse.
            A través de mis textos, creo puentes entre la emoción y
            la conciencia.
        </p>
        
        <p>
            Comparto lo que yo tambien he vivido, sentido y atravesado,
            por que creo que lo humano necesita mas verdad que
            perfección.
        </p>   
        
        <p>
            Estoy creando TODAI, un espacio que sera templo y refugio,
            y escribiendo “El camino a Jiko Ai”, como mi hermoso
            legado en palabras.
        </p>
        
        <p>
            Aquí estoy: habitando el cuerpo, atravesando la herida y
            eligiendo, cada dia, VOLVER A MI!
        </p>
        
        <p class="font-signature text-2xl mt-4 mr-8">
            CON AMOR
        </p>
        
        <p class="ml-8">
            LORE JORDAN
        </p>
    
    </div>
</section>